*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    background-color: rgb(0, 0, 26);
   
}
.principal{
display: grid;
grid-template-columns: 7% 60% 33%;
   
    
}
.album{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    gap: 30px;
}
.menu{
    width: 3rem;
    padding: 15px; 
    align-items: center;
    border-radius: 10px;
    gap:20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
}
.ca1 i{
    cursor: pointer;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.capa img{
    cursor: pointer;
    width: 3.5vw;
}
.topo{
    justify-content: space-between;
    
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    border-radius: 8px;
   
}

.menu2{
    background: rgb(23,0,73);
background: linear-gradient(180deg, rgba(23,0,73,1) 18%, rgba(2,0,36,1) 80%);
}

.icon{
    background-color: rgba(0, 0, 0, 0.459);
    width: 30px;
    height: 30px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
     border-radius: 50%;
     font-size: 18px;
}
.menu3{
    display: flex;
    gap: 10px;
}
.prop{
    padding: 30px;
    box-shadow: inset 200px 10px 100px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
}
.album2{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.descricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.titulo{  
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
.bnts{
    display: flex;
}
.controle{
    display: flex;
    gap: 30px;
}
.bnts{
    display: flex;
    gap: 10px;
}
.bnt-play button{
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px 10px 100px 10px;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    display: flex;
    background-color: rgb(1, 216, 1);
}
.artistas{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
        font-size: 16px;
}
.textinho{
    font-family: 'Open Sans', sans-serif;
color: rgb(221, 221, 221);
    font-size: 15px;
}
.bnt-salvar button{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px 10px 100px 10px;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    display: flex;
   
}
.controle span{
    background-color: rgba(0, 0, 0, 0.459);
   width: 30px;
   height: 30px;
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
    border-radius: 50%;
    font-size: 18px;
}
.meus-albuns{
    width: 3rem;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    gap: 20px;
   overflow-y: scroll;
   height: 56vh;
}
html ::-webkit-scrollbar {
    
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {

    border-radius: 50px;
    background: #6e6ea934;
  }
  html ::-webkit-scrollbar-track {
    background: transparent;
  }
  .controls-fixed{
    justify-content: space-between;
    padding: 0px 0px 0 20px;
    gap: 15px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 13vh;
    top:85vh;
    color: aliceblue;
  }
  .capa-audio img{
    border-radius: 9px;
 width: 3.7rem;
  }
  .descricao-fixed{
    display: flex;
    flex-direction: column;
  }
  .nome-musica{
    font-size: 16px;
  }
  .artistas-fixed{
    font-size: 11px;
  }
  .controles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .controles-icon{
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .tudo{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .controles-icon i{
    font-size: 20px;
  }
  .plays{
    width: 35px;
    height: 35px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
    background-color: white;
  }
  .plays i{
   color: black;
   font-size:25px;
  }
  .barra{
   
    display: flex;
    background-color: white;
    width: 30vw;
    height: 5px;
    border-radius: 40px;
  }
  .barrapai{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .barrinha{
    display: flex;
    width: 70%;
    background-color: red;
    border-radius: 40px;
  }
  .tempo{
    font-size: 12px;
  }
  .controls-icon{
    display: flex;
    align-items: center;
    gap:20px;
  }
  .controls-icon i{
    color: rgb(165, 165, 165);
    font-weight: bold;
    font-size: 19px;
  }
  .barrapai2{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .barra2{
    background-color: white;
    border-radius: 40px;
    display: flex;
    width: 10vw;
    height: 5px;
  }
  .barrinha2{
    display: flex;
    width: 50%;
    height: 5px;
    background-color: rgb(211, 59, 59);
    border-radius: 40px;
  }
  .capa-principal{
    display: flex;
  
    justify-content: center;
  }
  .capa-principal img{
    border-radius: 8px;
    width: 90%;
    height: auto;

  }

  .musicas{
     overflow-y: scroll;
     height: 84vh;
    display: flex;
    flex-direction: column;
  
  }
  .titulo2{
    color: white;
    font-weight: bolder;
    display: flex;
    padding: 30px;
  }
  .titulo3{
    padding-left: 20px;
    color: white;
    font-weight: 900;
    font-size: 25px;
  }
  .artista-principal{
    padding-left: 20px;
    color: rgb(192, 192, 192);
    font-weight: 500;
  }
  .nome-musica1{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
  }
  .nome-musica1 i{
    color: greenyellow;
  }
  .pai-sobre{
    display: flex;
    background-color: rgb(80, 80, 80);
    margin:20px ;
    border-radius: 9px;
    padding: 20px;
    flex-direction: column;
    gap: 25px;
  }
  .perfil img{
    border-radius: 50%;
    width: 7vw;
  }
  .texto{
    font-weight: bold;
    color: white;
  }
  .nome-canal{
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .ouvintes{
    color: white;
  }
  .sobre{
    
    color: white;
  }
  .pai-ouvintes{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bnt-seguir button{
    color: white;
    display: flex;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
   padding: 5px 5px 5px 5px;
  }